data/raw/
*.parquet
*.json
todo.md
test_payload.json

# Ignore Python cache files
__pycache__/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python bytecode files
*.pyc
# Ignore virtual environment directories
venv/
# Ignore log files
*.log
# Ignore data files
*.csv
/data/raw/applicants.json

# Ignore all JSON files in the data directory
data/**/*.json

# Ignore all Parquet files in the data directory
data/**/*.parquet
